/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'Nanum Gothic', sans-serif;
}
h1 {
  text-transform: uppercase;
}
nav {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
nav .nav-links {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  padding: 1rem;
  margin-right: 2rem;
  transition: all 0.5s ease;
  border-bottom: 1px solid #444444;
}
nav .nav-links:hover {
  color: #e2e2e2;
  background-color: #444444;
}
footer {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}
footer .nav-links {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  padding: 1rem;
  margin-right: 2rem;
  transition: all 0.5s ease;
  border-bottom: 1px solid #444444;
}
footer .nav-links:hover {
  color: #e2e2e2;
  background-color: #444444;
}
footer p {
  text-transform: uppercase;
}
header {
  height: 15rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  border-bottom: 1px solid #444444;
}
header .tagline {
  align-self: center;
  padding-top: 4em;
}
header .title {
  font-size: 2.4rem;
  padding-left: 0.8em;
}
header p {
  padding: 1em 0em 0em 2em;
}
header .buttons {
  align-self: flex-end;
  padding-bottom: 2em;
}
header .buttons .login,
header .buttons .signup {
  margin: 1em;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
header .buttons .login:hover,
header .buttons .signup:hover {
  transform: scale(1.1);
  background-color: black;
  color: #e2e2e2;
}
header .buttons .login span,
header .buttons .signup span {
  padding-left: 0.2em;
}
header .buttons .signup {
  padding: 15px 75px;
  color: #e2e2e2;
  background-color: #444444;
}
header .buttons .login {
  border: 2px solid #444444;
  background: none;
  font-size: 0.8rem;
}
.content {
  padding: 5em 2em 0em 2em;
  margin-bottom: 4em;
  border-bottom: 1px solid #444444;
}
.content .features1,
.content .features2,
.content .features3 {
  padding-bottom: 3em;
  display: flex;
}
.content .features1 p,
.content .features2 p,
.content .features3 p {
  width: 70%;
  padding: 2em;
  background-color: #f3f3f3a2;
  font-size: 1.2rem;
}
.content .features1 img,
.content .features2 img,
.content .features3 img {
  width: 25em;
  margin: 1em;
}
.content .features2 {
  flex-direction: row-reverse;
}
.content .features2 p {
  text-align: right;
}
