header {
    // background-color: lightgray;
    height: 15rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    border-bottom: @border-bottom;
    
    .tagline {
        align-self: center;
        padding-top: 4em;
    }

    .title {
        font-size: 2.8rem;
        padding-left: 0.8em;
    }

    p {
        padding: 1em 0em 0em 2em;

    }

    .buttons {
        align-self: flex-end;
        padding-bottom: 2em;
        

        .login, .signup {
            margin: 1em;
            .button-reset();
            text-transform: uppercase;
            transition: all 0.3s ease;
            
            &:hover {
                transform: scale(1.1);
                background-color: black;
                color: @link-hover;
            }

            span {
                padding-left: 0.2em;
            }

        }

        .signup  {
            padding: 15px 75px;
            .button-dark();
            
        }

        .login{
            border: 1px solid @link-color;
            background:none;
            font-size: 0.8rem;
        }
    }
}

.content {
    padding: 5em 2em 0em 2em;
    margin-bottom: 4em;
    border-bottom: @border-bottom;
    
    .features1, .features2, .features3 {
        padding-bottom: 3em;
        display: flex;

        .desc{
            width: 70%;
            padding: 2em;
            background-color: #f3f3f3a2;
            font-size: 1.2rem;
        }

        h1 {
            padding-bottom: 1em;
            font-size: 1.8rem;
        }

        img {
            width: 25em;
            margin: 1em;
        }
    }
    
    .features2 {
        flex-direction: row-reverse;

        h1, p {
            text-align: right;
        }
    }
}